<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./index.css">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<script type="text/javascript">
    var tts = false;
    var selectShirt = false;
    var countProduct = 0;  
    var product= Audio; 
    var contrastSwitch = false;
    
    function contrastSwitchfunction(){ 
        var body = document.getElementById("body");
        var text1 = document.getElementById("uploadImage");
        var text2 = document.getElementById("imageReturn");
        var text3 = document.getElementById("uploaded");
        var text4 = document.getElementById("noPicture");

        console.log(contrastSwitch);

        if (contrastSwitch){
            body.classList.remove("body-highcontrast");
            text1.classList.remove("uploadimage-text");
            text2.classList.remove("imagereturn-text");
            text3.classList.remove("uploaded-text");
            text4.classList.remove("nopicture-text")
            contrastSwitch = false;
        }
        else {
            body.classList.add("body-highcontrast");
            text1.classList.add("uploadimage-text");
            text2.classList.add("imagereturn-text");
            text3.classList.add("uploaded-text");
            text4.classList.add("nopicture-text")
            contrastSwitch = true;
        }
        
    
    }

</script>

<body id="body">

    <div class="container">
        
        <div class="header">
            <ul>
                <!-- Temp, replace boaz navbar -->
                <li><a href="default.asp">Home</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
              </ul>
        </div>

        <div class="menu">
            <button id="button-contrast" onclick="contrastSwitchfunction()">Switch contrast</button>

            <script>
                    var contrastSwitch = false;
    
                    function contrastSwitchfunction(){ 
                        var body = document.getElementById("body");
                        var text1 = document.getElementById("uploadImage");
                        var text2 = document.getElementById("imageReturn");
                        var text3 = document.getElementById("uploaded");
                        var text4 = document.getElementById("noPicture");
                        var button1 = document.getElementById("button-tts");
                        var button2 = document.getElementById("button-contrast");

                        console.log(contrastSwitch);

                        if (contrastSwitch){
                            body.classList.remove("body-highcontrast");
                            text1.classList.remove("uploadimage-text");
                            text2.classList.remove("imagereturn-text");
                            text3.classList.remove("uploaded-text");
                            text4.classList.remove("nopicture-text");
                            button1.classList.remove("tts-button");
                            button2.classList.remove("hcswitch-button");
                            contrastSwitch = false;
                        }
                        else {
                            body.classList.add("body-highcontrast");
                            text1.classList.add("uploadimage-text");
                            text2.classList.add("imagereturn-text");
                            text3.classList.add("uploaded-text");
                            text4.classList.add("nopicture-text");
                            button1.classList.add("tts-button");
                            button2.classList.add("hcswitch-button");
                            contrastSwitch = true;
                        }
                        
                    
                    }
            </script>

            <button id="button-tts" onclick="setTTS()">Toggle Text-to-Speech</button>

            <p> </p>
            <div class="dropdown-clothing">
                <button class="clothing">Clothing</button>
                <div class="content-clothing">
                    <button class="select-shirt" onclick="">Select shirts</button>
                    <button class="select-sweater">Select sweaters</button>
                    <button class="select-jeans">Select jeans</button>
                    <button class="select-pants">Select pants</button>
                </div>
            </div>


        </div>
        
        <div class="main">
            <h1 id="uploadImage">Upload a image!</h1>

            <form method="POST" enctype="multipart/form-data">

                <input type="file" class="button" name="query_img" >
                <br>
    
                {%if noPictureSelected %}
                <p id="noPicture">{{noPictureSelected}}</p>
                {% endif%}
    
                <input type="submit" class="button">
                
            </form>

            {% if scores %}
            <h2 id="uploaded">Uploaded:</h2>
            {% endif %}

            {% if query_path %}
            <img src="{{ query_path }}" height="200px">
            {% endif %}

            {% if scores %}
            <h2 id="imageReturn">Your image returned these products:</h2>
            {% endif %}

            <div class="product-container">

                <div class="product-list">                
                    {% for score in scores %}

                    <script type="text/javascript"> 
                        countProduct++;
                        console.log(countProduct);
                    </script>
                    
                        <div class="product-card">
                            <div class="text">
                                <p class="name">{{ score[2] }}</p>
                            </div>
                            <a href="{{ score[5] }}" target="_blank"> 
                                <img class ="img" id ="{{score[4]}}" onmouseover= play(this.id) onmouseout="pause()" src="{{ score[1] }}"  height="200px"> 
                            </a>
                            <div class="text">
                                <p class="price">Price: €{{score[3]}} </p>
                            </div>
                        </div>
                        
                        <audio>
                            <source src="{{score[5]}}" />
                        </audio>
                    
                    {% endfor %}
                </div>

            </div>
            
        </div>
 
        
        <script type="text/javascript">
            function setTTS(){
                tts = !tts;
            }
            function play(id){
                if (tts) {
                    product = new Audio(id);
                    product.play();
                }
            }
            function pause(){
                if (tts) {
                    product.pause();
                }
            }
            function showShirts(){
                selectShirt = !selectShirt;
                console.log(selectShirt);
            }
        </script>
    </div>

    </body>
    <!--<footer>
        {% if scores %}
            <div class="showmorebutton"></div>
            <button onclick="window.location.href='/more/'" class="button">get more</button>
        {% endif %}
    </footer>//-->
</html>



    </div>

</body>

</html>