.body-highcontrast{
    background-color: black;
}

.uploadimage-text{
    color: yellow;
}

.imagereturn-text{
    color: yellow;
}

.uploaded-text{
    color: yellow;
}

.nopicture-text{
    color:#00ff1a ;
}