<!doctype html>
<html>

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="\static\style.css">
        <script src="C:\Users\ibrah\OneDrive\Documenten\GitHub\Project-D-Groep-3\server.py"></script>
        
        <script>
                
            function uploadFiles() {
                var files = document.getElementById('file_upload').files;
                if(files.length==0){
                    alert("Please first choose or drop any file(s)...");
                    return;
                }

                var filenames="";
                for(var i=0;i<files.length;i++){
                    filenames+=files[i].name+"\n";
                }
                alert("Selected file(s) :\n____________________\n"+filenames);
            }
                    
        </script>
    </head>

    <body>

        <nav>

            <a href="https://www.bol.com/nl/nl/"> <img class="logo" src="\static\logo\bollogo.jfif"> </a>
    
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
    
            <table class="navswitch"> 
                <tr>
    
                    <td><p class="switchtxt">high contrast mode</p></td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" onclick="window.location.href='/high-contrast/'">
                            <span class="slider"></span>
                        </label>
                    </td>
    
                </tr>
                <tr>
    
                    <td><p class="switchtxt">Text-to-Speech</p></td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" onclick="setTTS()">
                            <span class="slider"></span>
                        </label>
                    </td>
    
                </tr>
            </table>
    
        </nav>

        
        <div class="container">

            <div class="toptxt">
                <h1>Bol.com Visual Search</h1>
            </div>
            
                <!--
                <head>
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    
                    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
                </head>
                <script type="text/javascript">
                    var tts = false;
                    var selectShirt = false;
                    var countProduct = 0;  
                    var product= Audio;  
                </script>
                
                <body> -->
        
        <div class="main">
            <div class="upload-container">
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" id="file_upload" name="query_img" class="vak"/>
                    <div class="submitbutton">
                        <input type="submit" class="button"/>
                    </div>
                </form>
            </div>

            {% if scores %}
            <h2>Uploaded:</h2>
            {% endif %}

            {% if query_path %}
            <img src="{{ query_path }}" height="200px">
            {% endif %}

            {% if scores %}
            <h2>Your image returned these products:</h2>
            {% endif %}

            <div class="product-container">

                <div class="product-list">                
                    {% for score in scores %}

                    <script type="text/javascript"> 
                        countProduct++;
                        console.log(countProduct);
                    </script>
                    
                    <div class="product-card">
                        <div class="text">
                            <p class="name">{{ score[2] }}</p>
                        </div>
                        <a href="{{ score[5] }}" target="_blank"> 
                            <img class ="img" id ="{{score[4]}}" onmouseover= play(this.id) onmouseout="pause()" src="{{ score[1] }}"  height="200px"> 
                        </a>
                        <div class="text">
                            <p class="price">Price: €{{score[3]}} </p>
                        </div>
                    </div>
                    
                    <audio>
                        <source src="{{score[5]}}" />
                    </audio>
                    
                    {% endfor %}
                </div>

            </div>
            
            
            <script type="text/javascript">

                var tts = false;
                function setTTS(){
                    tts = !tts;
                }
        
                var product= Audio;
                function play(id){
                    if (tts) {
                        product = new Audio(id);
                            product.play();
                    }
                }

                function pause(){
                    if (tts) {
                        product.pause();
                    }
                } 
                
            </script>

        </div>    
    </body>
</html>