<!doctype html>
<html>

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="\static\style.css">
        <script src="C:\Users\ibrah\OneDrive\Documenten\GitHub\Project-D-Groep-3\server.py"></script>

        <script>
                    
            function uploadFiles() {
                var files = document.getElementById('file_upload').files;
                if(files.length==0){
                    alert("Please first choose or drop any file(s)...");
                    return;
                }
                var filenames="";
                for(var i=0;i<files.length;i++){
                    filenames+=files[i].name+"\n";
                }
                alert("Selected file(s) :\n____________________\n"+filenames);
            }
                    
        </script>
    </head>

    <body>

        <nav>

            <a href="https://www.bol.com/nl/nl/"> <img class="logo" src="\static\logo\bollogo.jfif"> </a>
    
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
    
            <table class="navswitch"> 
                <tr>
    
                    <td><p class="switchtxt">high contrast mode</p></td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" onclick="window.location.href='/high-contrast/'">
                            <span class="slider"></span>
                        </label>
                    </td>
    
                </tr>
                <tr>
    
                    <td><p class="switchtxt">Text-to-Speech</p></td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" onclick="setTTS()">
                            <span class="slider"></span>
                        </label>
                    </td>
    
                </tr>
            </table>
    
        </nav>

        
        

         
        <div class="container">

            <div class="toptxt">
                <h1>Simple image search engine</h1>
            </div>
            
            <!--
            <form method="POST" enctype="multipart/form-data">

                <input type="file" class="button" name="query_img" >
                <br>

                {%if noPictureSelected %}
                <p style="color:red">{{noPictureSelected}}</p>
                {% endif%}

                <input type="submit" class="button">
                
            </form>  
            -->

            <div class="upload-container">
                <input type="file"  id="file_upload" multiple /> 
            </div>

            <div class="submitbutton">
                <input type="submit" class="button">
            </div>
            

            {% if scores %}
            <h2>Query:</h2>
            {% endif %}

            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}

            {% if scores %}
            <h2>Results:</h2>
            {% endif %}

            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img id ="{{score[4]}}" onmouseover= play(this.id) onmouseout="pause()" src="{{ score[1] }}"  height="200px"> 
                <figcaption>Comparison {{ score[0] }}</figcaption>
                <figcaption>{{ score[2] }}</figcaption>
                <figcaption>Price: €{{score[3]}}</figcaption>
                <audio>
                    <source src="{{score[4]}}" />
                </audio>
            </figure>
            {% endfor %}

            
            
            <script type="text/javascript">

                var tts = false;
                function setTTS(){
                    tts = !tts;
                }
        
                var product= Audio;
                function play(id){
                    if (tts) {
                        product = new Audio(id);
                            product.play();
                    }
                }

                function pause(){
                    if (tts) {
                        product.pause();
                    }
                } 
                
            </script>

        </div>    
    </body>

</html>